/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* end reset */

/* Site specific styles */
html {
    background-color: gray;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
body {
    background-color: #ffffff;
    max-width: 1280px;
    min-width: 320px;
    margin: 1em auto;
    box-shadow: 0px 0px 10px;
    padding-bottom: 1px;
}
h1 { font-size: 1.5em; color: #000000}
h2 {font-size: 1.25em;}
h3 {font-size: 1.125em;}
h4, h5, h6 { font-size: 1em;}
p, ul, ol, a { font-size: 1em; color: #666}
header {
    max-width: 960px;
    height: 100px;
}
a {
    text-decoration: none;
    color: #333;
}
section, hgroup, div {
    text-align: center;
}
header span.menu-trigger {
    display: none;
}
header.mobile-menu {
    display: none;
}
nav.mini-top-nav {
    float: right;
    font-size: 0.75em;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 0.25em;
    padding-bottom: 1px;
}
nav.mini-top-nav a {
    display: inline-block;
    padding: 0.5em;
}
nav.mini-top-nav a.omega {
    padding-right: 0;
}
nav.main-nav {
    display: block;
    float: right;
    margin-bottom: 1em;
}
nav.main-nav a {
    display: inline-block;
    padding: 0.65em;
    font-weight: 600;
    letter-spacing: 1px;
}
nav.main-nav a.see-it-in-action {
    background-color: #a36fac;
    border-radius: 10px;
    color: #ffffff;
}
nav.main-nav a.see-it-in-action:hover {
    background-color: #3cbb71;
}
main {
    max-width: 1280px;
    padding-bottom: 1px;
}
#top-focus {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    background-color: #35a665;
    color: #ffffff;
    text-align: center;
}
#top-focus h1 {
    font-size: 2em;
    margin: 1em;
    margin-top: 2em;
    font-weight: 300;
    color: #ffffff;
}
#top-focus p {
    color: #ffffff;
}
#top-focus section.slider {
    background-color: #3cbb71;
    height: 546px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#top-focus section.slides {
    height: 496px;
    overflow: hidden;
}
.article_slide {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.article_slide--first {
    background-image: url("../img/slider.png");
}
.article_slide--second {
    background-image: url("../img/slider.png");
}
.article_slide--third {
    background-image: url("../img/slider.png");
}
div.article-wrapper {
    clear: both;
    position: relative;
    height: 496px;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}
#top-focus article.article_slide--first h1,
#top-focus article.article_slide--second h1,
#top-focus article.article_slide--third h1 {
    text-align: left;
    margin-bottom: 5em;
    font-weight: 300;
    letter-spacing: 0.5px;
}
#top-focus article.article_slide--first p,
#top-focus article.article_slide--second p,
#top-focus article.article_slide--third p {
    font-size: 1.25em;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 2em;
}
#top-focus a.button {
    color: #ffffff;
    background-color: #3cbb71;
    padding: 0.65em;
    border-radius: 10px;
}
#top-focus a.button:hover {
    background-color: #a36fac;
}
.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slides {
    height: 100%;
    /* Clear fix */
    overflow: hidden;
    *zoom: 1;
    /**
     * Prevent blinking issue
     * Not tested. Experimental.
     */
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
}

.slide {
    height: 100%;
    float: left;
    clear: none;
}

.slider-arrow {
    background-image: url("../img/glide-arrows.png");
    width: 17px;
    height: 28px;
    position: absolute;
    display: block;
    margin-bottom: -20px;
    padding: 0;
    color: #ffffff;
}

.slider-arrow--right {
    bottom: 50%;
    right: 30px;
    background-position: -17px 0;
}

.slider-arrow--left {
    bottom: 50%;
    left: 30px;
    background-position: 0 0;
}

.slider-nav {
    position: absolute;
    bottom: 18px;
}

.slider-nav__item {
    width: 14px;
    height: 14px;
    float: left;
    clear: none;
    display: block;
    margin: 0 10px;
    background: #2f8754;
    border-radius: 14px;
}

.slider-nav__item:hover {
    background: #ccc;
}

.slider-nav__item--current {
    background: #fff;
}
#top-focus section p.grid-10 {
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: 3em;
    letter-spacing: 0.5px;
}
header,
#top-focus section,
#advantages,
#partners,
footer {
    margin: 0 auto;
}
#advantages p, #partners p {
    font-size: 0.95em;
    font-weight: 300;
    line-height: 1.5;
}
#advantages {
    padding-top: 1px;
    text-align: center;
}
#advantages div {
    text-align: center;
    margin-bottom: 1em;
    height: 100%;
    max-height: 200px;
}
#advantages h1 {
    margin-top: 2em;
    margin-bottom: 2em;
    font-weight: 600;
    text-align: center;
}
#advantages div.icon-wrapper {
    display: inline-block;
    height: 100%;
    max-height: 200px;
    margin-bottom: 1em;
    vertical-align: middle;
}
#advantages a.icon {
    display: inline-block;
    height: 128px;
    width: 128px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2em;
    text-align: center;
    background-image: url("../img/icon_back.png");
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: 700;
}
#advantages a.icon:hover {
    color: #b78bbf;
}
#advantages a.icon img {

}
#advantages p.grid-6.push-3 {
    margin-top: 0;
    margin-bottom: 3em;
}
#partners h1 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 600;
}
#partners p {
    margin-bottom: 3em;
}
footer {
    margin-top: 10em;
    margin-bottom: 8em;
}
footer hgroup h1 {
    font-size: 1.25em;
    margin-bottom: 0.75em;
    font-weight: 600;
}
footer hgroup h2 {
    font-size: 1.125em;
    margin-bottom: 1.5em;
    font-weight: 600;
}
footer div.grid-4.push-4 {
    margin-bottom: 1em;
}
footer div a.socialicon {
    margin-left: 6px;
    margin-right: 6px;
}
footer span {
    font-size: 0.75em;
    color: #333333;
    margin-bottom: 5em;
    padding-bottom: 1px;
}
footer nav {
    font-size: 0.75em;
    margin-bottom: 1em;
}
footer nav a {
    color: #a36fac;
}
.grid-max {
    max-width: 960px;
}
/* clearfix */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.clear {
    clear: both;
}
.center {
    text-align: center;
}
/* media queries */

@media screen and (max-width: 800px) {
    body {
        margin: 0;
        box-shadow: none;
    }
    header {
        height: 75px;
    }
    header img {
        height: 75px;
        margin-left: 9.37%;
    }
    header nav.mini-top-nav,
    header nav.main-nav {
        display: none;
    }
    header span.menu-trigger {
        display: block;
        float: right;
        margin-right: 9.37%;
        font-size: 1.25em;
        font-weight: 600;
        position: relative;
        top: 25px;
    }
    header.mobile-menu {
        height: auto;
        background-color: #efefef;
        color: #666666;
        border-top: #3cbb71 5px solid;
        border-bottom: #3cbb71 5px solid;
    }
    header.mobile-menu nav {
        text-align: center;
    }
    header.mobile-menu nav a {
        font-size: 1.125em;
        margin: 0.5em auto;
        display: block;
        color: #666666;
    }
    header.mobile-menu nav a:hover {
        color: #000000;
    }
    #top-focus section.slider {
        height: 355px;
    }
    #top-focus section.slides {
        height: 325px;
    }
    #top-focus div.article-wrapper {
        height: 325px;
    }
    #top-focus a.button {
        display: none;
    }
    #top-focus h1 {
        font-size: 1.5em;
        font-weight: 400;
    }
    #top-focus section p.grid-10 {
        font-size: 1.125em;
    }
    #top-focus article.article_slide--first p,
    #top-focus article.article_slide--second p,
    #top-focus article.article_slide--third p {
        font-size: 1em;
    }
    .slider-arrow {
        display: none;
    }
    .slider-nav {
        bottom: 8px;
    }
    #partners h1.grid-8.push-2 {
        left: 8.333333333333%;
        width: 81.25%;
    }
    #advantages div {
        height: auto;
        max-height: none;
        margin-bottom: 1em;
    }
    #advantages p,
    #partners p,
    #partners div.grid-12,
    footer {
        display: none;
    }
}
/* @group responsive grid classes */

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6,
.grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {margin-right: 1.103752759382%; margin-left: 1.103752759382%; float: left;
}

.alpha {margin-left: 0;}

.omega {margin-right: 0;}

.grid-1{width: 6.25%;}
.grid-2 {width: 14.583333333333%;}
.grid-3 {width: 22.916666666667%;}
.grid-4 {width: 31.25%;}
.grid-5 {width: 39.583333333333%;}
.grid-6 {width: 47.916666666667%;}
.grid-7 {width: 56.25%;}
.grid-8 {width: 64.583333333333%;}
.grid-9 {width: 72.916666666667%;}
.grid-10 {width: 81.25%;}
.grid-11 {width: 89.583333333333%;}
.grid-12 {width: 97.916666666667%;}

.prefix-1 {padding-left: 8.333333333333%;}
.prefix-2 {padding-left: 16.666666666667%;}
.prefix-3 {padding-left: 25%;}
.prefix-4 {padding-left: 33.333333333333%;}
.prefix-5 {padding-left: 41.666666666667%;}
.prefix-6 {padding-left: 50%;}
.prefix-7 {padding-left: 58.333333333333%;}
.prefix-8 {padding-left: 66.666666666667%;}
.prefix-9 {padding-left: 75%;}
.prefix-10 {padding-left: 83.333333333333%;}
.prefix-11 {padding-left: 91.666666666667%;}

.push-1, .pull-1,
.push-2, .pull-2,
.push-3, .pull-3,
.push-4, .pull-4,
.push-5, .pull-5,
.push-6, .pull-6,
.push-7, .pull-7,
.push-8, .pull-8,
.push-9, .pull-9,
.push-10, .pull-10,
.push-11, .pull-11,
.push-12, .pull-12 {
    position: relative;
}

/* @group push */

.push-1 {left: 8.333333333333%;}
.push-2 {left: 16.666666666667%;}
.push-3 {left: 25%;}
.push-4 {left: 33.333333333333%;}
.push-5 {left: 41.666666666667%;}
.push-6 {left: 50%;}
.push-7 {left: 58.333333333333%;}
.push-8 {left: 66.666666666667%;}
.push-9 {left: 75%;}
.push-10 {left: 83.333333333333%;}
.push-11 {left: 91.666666666667%;}

/* @end */

/* @end */